ul,
li {
  display: block;
  float: left;
}



table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 400px;
}
table td {
  border: solid 1px #666;
  width: 400px;
  word-wrap: break-word;
}
